body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#step {
    text-align: right;
    padding-right: 30px;
    font-size: 12px;
}

#image {
    height: 500px;
}

img {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}

.hint {
    position: relative;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    width: 100px;
    border: 2px solid white;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    padding-bottom: 5px;
}

.hint:hover {
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 2px;
}

.hint:visited {
    text-decoration: none;
    color: black;
}

.hidden {
    text-align: center;
}

.slideUp, .slideDown {
    opacity: 1;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.35s ease-in-out;
    -moz-transition: max-height 0.35s ease-in-out;
    -o-transition: max-height 0.35s ease-in-out;
    transition: max-height 0.35s ease-in-out;
}

.slideDown {
    max-height: 200px;
}

span {
    font-size: 10px;
}

#rules {
    font-size: 24px;
}