body {
    background-color: #2b2d42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    margin: 0px;
    position: relative;
}

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oxygen Mono";
    src: url("../fonts/Oxygen_Mono/OxygenMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif Bold";
    src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf");
}   

#intro {
    font-size: 72px;
    color: black;
    padding: 10px;
    font-weight: lighter;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: "Oxygen Mono";
    text-shadow: #000000 2px 2px 2px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: fixed;
    line-height: 50vh;
    background-image: url("../assets/ATtrees.jpg");
    background-size: cover;
    overflow: hidden;
    transition: width 2s height 4s;
    display: block;
}

#welcomeButton {
    font-family: "Noto Sans HK",sans-serif;
    height: 35px;
    width: 130px;
    font-size: 25px;
    border: 3px black solid;
    color: black;
    line-height: 50%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    position: fixed;
    top: 90vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 0px;
    font-weight: 1000pt;
}

#god {
    line-height: 50vh;
    text-align: center;
    font-size: 100px;
    font-family: "Noto Sans";
}

#color1 {
    background-color: #2b2d42;
    margin-left: 10px;
}

#color2 {
    background-color: #8d99ae;
}

#color3 {
    background-color: #edf2f4;
}

#color4 {
    background-color: #ef233c;
}

#color5 {
    background-color: #d90429;
}