body {
    background-color: #2b2d42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    margin: 0px;
    position: relative;
}

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oxygen Mono";
    src: url("../fonts/Oxygen_Mono/OxygenMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif Bold";
    src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf");
}

#intro {
    font-size: 72px;
    color: black;
    padding: 10px;
    font-weight: lighter;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: "Oxygen Mono";
    text-shadow: #000000 2px 2px 2px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: fixed;
    line-height: 50vh;
    background-image: url("../assets/ATtrees.jpg");
    background-size: cover;
    display: block;
    z-index: 999;
}

#welcomeButton {
    font-family: "Noto Sans HK",sans-serif;
    height: 35px;
    width: 130px;
    font-size: 25px;
    border: 3px black solid;
    color: black;
    line-height: 50%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    position: fixed;
    top: 80vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 0px;
    font-weight: 1000;
}

#mainPageDiv {
    border: #2b2d42 2px solid;
    position: relative;
}

#projects {
    font-family: "Inconsolata";
    font-size: 70px;
    text-align: center;
    line-height: 10vh;
    color: #d90429;
    font-weight: 900;
    grid-template-columns: 3;
}

.projectLink {
    font-family: "Oxygen Mono";
    font-size: 24px;
    color: #edf2f4;
    position: relative;
    margin-bottom: 20px;
    display: block;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 2px solid #2b2d42;
    transition: all 0.35s;
    text-decoration: none;
}

.projectLink:visited {
    color: #edf2f4;
    border: 2px solid #2b2d42;
    text-decoration: none;
}

.otherLink {
    font-family: "Oxygen Mono";
    font-size: 18px;
    color: #edf2f4;
    width: 100px;
    text-align: center;
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    padding: 5px;
    border: 2px solid #2b2d42;
    text-decoration: none;
}

.otherLink:visited {
    color: #edf2f4;
    border: 2px solid #2b2d42;
    text-decoration: none;
}

.otherLink:hover {
    color: #edf2f4;
}

a {
    cursor: pointer;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d90429;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover::before{
    visibility: visible;
    transform: scaleX(0.5);
}

.contactInfo{
    color: #edf2f4;
    width: 200px;
    display: block;
    position: relative;
    text-align: center;
    margin: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Oxygen Mono";
    font-size: 14px;
    text-decoration: none;
}