/* body {
    background-color: #2b2d42;
/* }

h1 {
    margin: 0px;
    font-family: "Inconsolata";
    color: #d90429;
    font-size: 50px;
    text-align: center;
}

#react-container {
    border: 2px white solid;
}

@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Oxygen Mono";
    src: url("../fonts/Oxygen_Mono/OxygenMono-Regular.ttf") format("truetype");
} */
