$main-bg: rgb(255, 255, 255, 0.9);
$color-1: #0bae81;
$bg-img1: url('./images/theonlywayBLUR.png');
$bg-img: url('./images/stardust.png');

$title-size: 15vh;
$bio-size: 85vh;

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-family: 'Roboto';
    overflow-x: hidden;

    #bg {
        margin: 0;
        position: fixed;
        z-index: -100;
        overflow-y: hidden;
        top: 0;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(20, 20, 20, 0.8);
    }

    &::-webkit-scrollbar-track-piece {
        background-color: rgba(20, 20, 20, 0);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(20, 20, 20, 0.7);
        border-radius: 1px;
    }

    p {
        font-family: 'Merriweather';
        font-size: 35px;

        a {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                width: 0;
                opacity: 0;
                background-color: $color-1;
                left: 0;
                bottom: 0;
                transition: 0.2s all;
            }

            &:hover::after {
                width: 100%;
                opacity: 1;
            }
        }
    }

    .important {
        font-weight: bold;
        transition: 0.2s all;
    }

}

a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

button:active {
    outline: none;
}

#center {
    width: 72%;
    height: 100%;
    background-color: $main-bg;
    margin-bottom: 14vw;
    box-shadow: 0px 0px 20px black;
    border-radius: 0px 0px 3px 3px;

    .title {
        font-size: 3vmax;
        font-family: 'Montserrat';
        font-weight: bold;
        text-align: left;
        padding-left: 5%;
    }

    #name {
        font-size: 4vmax;
        margin: 0;
    }

    #name-cont {
        display: flex;
        align-items: center;
        height: $title-size;
    }
}

#bio {

    #bio-content {
        height: $bio-size;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px black solid;
        border-top: 2px black solid;
        background-color: $color-1;

        #photo {
            width: 40%;

            img {
                width: 100%;
                border: 2px $color-1 solid;
            }
        }

        #bio-text {
            padding-left: 20px;
            width: 90%;

            h3 {
                font-family: 'Recursive';
                font-size: 30px;
            }

            p {
                font-size: min(4vmin, 60px);

                a::after {
                    color: black;
                }
            }

            .white {
                color: white;
            }
        }
    }
}

#works {
    #works-content {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .project {
            margin-top: 20px;
            margin-bottom: 20px;

            a {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                cursor: pointer;
                transition: 0.2s all;
                font-size: 2.5vmin;

                img {
                    width: 3vmin;
                    transition: 0.2s all;
                    margin-left: 10px;
                }

                &:hover img {
                    margin-left: 20px;
                }
            }
        }

        .proj-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100px;

            img {
                width: 4vw;
                height: 4vw;
                border: 2px black solid;
            }

            p {
                margin-left: 2vw;
                font-size: 4vmin;
                font-family: 'Montserrat';
            }
        }

        .proj-desc {
            width:40vw;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            p {
                font-family: 'Roboto';
                width: 100%;
                font-size: 1.5vmin;
                margin-left: 3vw;
            }
        }
    }
}

#contact {

    #links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;

        a {
            border: 2px $color-1 solid;
            border-radius: 2px;
            height: 40px;
            width: 15%;
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                height: 0%;
                width: 100%;
                opacity: 0;
                transition: 0.3s;
                background-color: #0bae81;
            }

            &:hover::before {
                height: 100%;
                opacity: 1;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                p {
                    font-family: 'Roboto';
                    font-size: min(0.85vw, 15px);
                    z-index: 100;
                    letter-spacing: 3px;
                }
            }
        }
    }

    #other-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 150px;

        p {
            margin: 0;
            font-family: 'Roboto';
            font-size: min(0.85vw, 15px);
            letter-spacing: 3px;
        }

        a {
            margin: 0;
            font-family: 'Roboto';
            font-size: min(0.85vw, 15px);
            letter-spacing: 3px;
            cursor: pointer;
        }
    }
}

#navbar {
    margin: 0;
    position: fixed;
    height: 40px;
    top: 0;
    left: 50vw;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 200;
    background-color: $main-bg;
    border-radius: 0px 0px 4px 4px;
    border: 2px black solid;
    border-top: none;

    a {
        letter-spacing: 2px;

        div {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;
            position: relative;

            p {
                color: rgba(20, 20, 20, 0.5);
                font-family: 'Roboto';
                text-align: center;
                letter-spacing: 2px;
                font-size: max(0.85vw, 20px);
                padding: 2px;
                border: 2px transparent solid;
                transition: 0.2s all;

                &:hover {
                    color: rgba(20, 20, 20, 0.8);
                }
            }
        }
    }

    #centernav {
        grid-column-start: 2;
    }
}

#proficiencies {
    display: flex;
    flex-direction: column;

    #profslist {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .prof-cont {
            margin: 30px;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            img {
                width: 40%;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: left;
                text-align: left;
                width: 40%;

                p {
                    font-size: min(2vw, 40px);
                    width: 100%;
                }
            }
        }
    }
}