$color-1: white;
$gray-dark: rgb(102, 102, 102);
$gray-light: rgb(173, 173, 173);
$gray-mid: rgb(128, 128, 128);

$title-size: 15vh;
$bio-size: 85vh;

@keyframes glow {
    0% {
        box-shadow: 0px 0px 10px $gray-light;
    }

    100% {
        box-shadow: 0px 0px 10px black;
    }
}

@font-face {
    font-family: 'Archivo BI';
    src: url('./assets/fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf');
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-family: 'Archivo';
    overflow-x: hidden;

    hr {
        width: 95%;
        border: none;
        background-color: $gray-light;
        height: 1px;
    }

    #bg {
        margin: 0;
        position: fixed;
        z-index: -100;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-image: url('./images/dot-grid.png');
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(20, 20, 20, 0.8);
    }

    &::-webkit-scrollbar-track-piece {
        background-color: rgba(20, 20, 20, 0);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(20, 20, 20, 0.7);
        border-radius: 1px;
    }

    p {
        font-family: 'IBM Plex Mono';
        font-size: 35px;
    }

    .important {
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s all;
        text-shadow: 0ex 0ex $gray-dark, 0ex 0ex $gray-light;

        &:hover {
            text-shadow: 0.15ex 0.15ex $gray-dark, 0.3ex 0.3ex $gray-light;
        }
    }

}

a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

button:active {
    outline: none;
}

#center {
    @media screen and (max-width: 768px) {
        width: 90%;
    }

    width: 72%;
    height: 100%;
    background-color: $color-1;
    margin-bottom: 14vw;
    border-radius: 0px 0px 3px 3px;
    animation: glow 3s infinite alternate;

    .title {
        font-size: 5vmax;
        font-family: 'Major Mono Display';
        font-weight: bold;
        text-align: left;
        padding-left: 5%;

        text-shadow: 0.07ex 0.07ex 0px $gray-dark, 0.14ex 0.14ex $gray-light;
    }

    #name {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #name-cont {
        display: flex;
        align-items: center;
    }
}

#bio {
    margin-top: 20px;
    margin-bottom: 20px;

    #bio-content {
        height: $bio-size;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #bio-text {
            padding-left: 20px;
            width: 90%;

            p {
                @media screen and (max-width: 768px) {
                    font-size: 1.5rem;
                }

                font-size: min(4vmin, 60px);
            }
        }
    }
}

#works {
    margin-top: 20px;
    margin-bottom: 20px;

    #works-content {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .project {
            max-width: 85%;
            margin-top: 2%;
            margin-bottom: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px $gray-light solid;
            transition: 0.2s all;

            // background-color: green;

            box-shadow: 0rem 0rem $gray-dark, 0rem 0rem $gray-light;

            &:hover {
                box-shadow: 0.2rem 0.2rem $gray-dark, 0.4rem 0.4rem $gray-light;
            }

            a {
                width: 13vw;
                height: 2.5vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: 0.2s all;
                font-family: 'Archivo BI';
                font-size: min(1vw, 30px);
                letter-spacing: 3px;
                
                background-color: black;
                color: white;

                @media screen and (max-width: 768px) {
                    width: 40vw;
                    height: 8vw;

                    font-size: 1.5rem;
                }

                .explore-text {
                    // background: yellowgreen;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .explore-img-cont {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: yellowgreen;
                }

                img {
                    width: 3vmin;
                    transition: 0.2s all;
                    margin-left: 10px;
                    // background-color: wheat;

                    @media screen and (max-width: 768px) {
                        // background-color: wheat;
                        width: 8vw;
                    }
                }

                &:hover img {
                    transform: translateX(10px);
                }
            }
        }

        .proj-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            margin: 0;
            padding: 0;
            height: 50%;
            width: 80%;

            // background-color: blue;

            img {
                max-width: 100%;
                width: 8%;
                height: 8%;
            }

            p {
                font-weight: bold;
                margin-left: 2vw;
                font-size: 4vmin;

                // background-color: yellow;
            }
        }

        .proj-desc {
            max-width: 80%;

            p {
                line-height: 1.5;
                color:$gray-dark;
                font-family: 'Archivo';
                width: 100%;
                font-size: 1.5vmin;

                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                    line-height: 1.8;
                }

                span {
                    color: black;
                }
            }
        }
    }
}

#contact {
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
        font-size: 4vmax;
    }

    #links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }        

        a {
            border: 2px $color-1 solid;
            height: 2.5vw;
            width: 10vw;
            position: relative;
            cursor: pointer;
            border: 1px black solid;

            @media screen and (max-width: 768px) {
                width: 80%;
                height: 70px;
                margin: 10px;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                background-color: black;
                border: 1px black solid;
                transition: 0.2s all;

                transform: translate(-5px, -5px);

                &:hover {

                    p {
                        color: $gray-mid;
                    }
                }

                &:active {
                    transform: translate(-1px, -1px);
                }

                p {
                    color: white;
                    font-family: 'Archivo BI';
                    font-size: min(1vw, 30px);
                    letter-spacing: 3px;

                    @media screen and (max-width: 768px) {
                        font-size: 1.5rem ;
                    }
                }
            }
        }
    }

    #other-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 150px;
        color: rgb(102, 102, 102);

        p {
            margin: 0;
            font-family: 'Archivo BI';
            font-size: min(0.85vw, 15px);
            letter-spacing: 3px;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }

        a {
            color: rgb(102, 102, 102);
            margin: 0;
            font-family: 'Archivo BI';
            font-size: min(0.85vw, 15px);
            letter-spacing: 3px;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }
    }
}

#proficiencies {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

    #profslist {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .prof-cont {
            margin: 30px;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            &:nth-child(2) {
                @media screen and (max-width: 768px) {
                    flex-direction: column-reverse;
                }
            }

            img {
                width: 40%;

                @media screen and (max-width: 768px) {
                    width: 90%;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: left;
                text-align: left;
                width: 40%;

                @media screen and (max-width: 768px) {
                    width: 90%;
                }

                p {
                    font-size: min(2vw, 40px);
                    width: 100%;

                    @media screen and (max-width: 768px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

#navbar {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 14vw;

    @media screen and (max-width: 875px) {
        display: none;
    }

    a {
        margin: 10px;
        height: 4vh;
        width: 15vh;
        border: 1px black solid;

        div {
            height: 100%;
            width: 100%;
            font-family: 'Archivo BI';
            font-size: min(1vw, 30px);
            letter-spacing: 3px;
            background: black;
            border: 1px black solid;
            transform: translate(-5px, -5px);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.2s all;

            &:hover {
                p {
                    color: $gray-mid;
                }
            }

            &:active {
                transform: translate(-1px, -1px);
            }
            
            p {
                color: white;
                font-family: 'Archivo BI';
                font-size: min(1vw, 30px);
                letter-spacing: 3px;
            }
        }
    }
}