/* Error: expected "{".
 *     ,
 * 121 |         text-shadow: 0.05em 0.05em rgb(102, 102, 102), 0.1em 0.1em rgb(173, 173, 173);
 *     |                                                                                      ^
 *     '
 *   style.scss 121:86  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 121 \2502          text-shadow: 0.05em 0.05em rgb(102, 102, 102), 0.1em 0.1em rgb(173, 173, 173);\d\a     \2502                                                                                       ^\a     \2575 \a   style.scss 121:86  root stylesheet';
}
