html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: "Roboto";
  overflow-x: hidden;
}
body #bg {
  margin: 0;
  position: fixed;
  z-index: -100;
  overflow-y: hidden;
  top: 0;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(20, 20, 20, 0.8);
}
body::-webkit-scrollbar-track-piece {
  background-color: rgba(20, 20, 20, 0);
}
body::-webkit-scrollbar-thumb {
  background: rgba(20, 20, 20, 0.7);
  border-radius: 1px;
}

a:visited {
  text-decoration: none;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

button:active {
  outline: none;
}

#center {
  width: 72%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.93);
  margin-bottom: 14vw;
  box-shadow: 0px 0px 20px black;
}
#center .title {
  font-size: 40px;
  font-family: "Recursive";
  font-weight: bold;
  text-align: left;
  padding-left: 5%;
}
#center #name {
  font-size: 60px;
  border-bottom: 2px #0bae81 solid;
  padding-bottom: 30px;
  padding-top: 20px;
}

#bio #bio-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#bio #bio-content #photo {
  width: 40%;
}
#bio #bio-content #photo img {
  width: 100%;
  border: 2px #0bae81 solid;
}
#bio #bio-content #bio-text {
  border-left: 2px #0bae81 solid;
  padding-left: 20px;
  width: 45%;
  font-size: 15px;
}
#bio #bio-content #bio-text h3 {
  font-family: "Recursive";
  font-size: 30px;
}

#works #works-content {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 15vw;
  gap: 5px;
  justify-content: center;
}
#works #works-content .project {
  height: 100%;
  width: 100%;
  justify-self: center;
}
#works #works-content .project div {
  font-family: "Roboto";
  opacity: 0;
  transition: 0.2s all;
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
  height: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}
#works #works-content .project div h1 {
  text-align: center;
  margin: 0;
  font-family: "Recursive";
  font-size: 30px;
  font-weight: normal;
}
#works #works-content .project:hover div {
  height: 100%;
  opacity: 1;
}
#works #works-content #voy-tracker {
  background-image: url("./images/voyager.jpg");
  background-size: cover;
}
#works #works-content #bias-ml {
  background-image: url("./images/icon.png");
  background-size: cover;
}
#works #works-content #lostinspace {
  background-image: url("./images/lostinspacelogo.png");
  background-size: cover;
}

#contact #links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
#contact #links a {
  font-family: "Roboto";
  border: 2px #0bae81 solid;
  border-radius: 2px;
  height: 40px;
  width: 120px;
  position: relative;
  cursor: pointer;
}
#contact #links a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  background-color: #0bae81;
}
#contact #links a:hover::before {
  height: 100%;
  opacity: 1;
}
#contact #links a div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#contact #links a div p {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bolder;
  z-index: 100;
}

#navbar {
  margin: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  display: grid;
  grid-template-columns: 10fr 3fr 2.5fr;
  align-items: center;
}
#navbar div {
  background-color: rgba(255, 255, 255, 0.93);
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  border: 2px black solid;
  border-top: none;
}
#navbar div div {
  border: none;
}
#navbar div a {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#navbar div a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #0bae81;
  width: 0%;
  height: 5px;
  bottom: 0;
  left: 0;
  transition: 0.2s all;
  opacity: 0;
}
#navbar div a:hover::after {
  width: 100%;
  opacity: 1;
}
#navbar p {
  margin: 0;
  font-family: "Recursive";
  color: black;
  margin: 0;
  text-align: center;
  position: relative;
}
#navbar #centernav {
  grid-column-start: 2;
}

#proficiencies {
  display: flex;
  flex-direction: column;
}
#proficiencies #profslist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#proficiencies #profslist .prof-cont {
  margin: 30px;
}
#proficiencies #profslist div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#proficiencies #profslist div img {
  width: 30%;
}
#proficiencies #profslist div div {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  width: 25%;
}
#proficiencies #profslist div div h3 {
  font-family: "Recursive";
  width: 100%;
}
#proficiencies #profslist div div p {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
