$main-bg: rgb(255, 255, 255, 0.9);
$color-1: white;
$bg-img1: url('./images/theonlywayBLUR.png');
$bg-img: url('./images/stardust.png');

$title-size: 15vh;
$bio-size: 85vh;

@keyframes glow {
    0% {
        box-shadow: 0px 0px 10px rgb(175, 175, 175);
    }

    100% {
        box-shadow: 0px 0px 10px black;
    }
}

@font-face {
    font-family: 'Archivo BI';
    src: url('./assets/fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf');
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-family: 'Archivo';
    overflow-x: hidden;

    hr {
        width: 95%;
        border: none;
        background-color: rgb(175, 175, 175);
        height: 1px;
    }

    #bg {
        margin: 0;
        position: fixed;
        z-index: -100;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-image: url('./images/dot-grid.png');
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(20, 20, 20, 0.8);
    }

    &::-webkit-scrollbar-track-piece {
        background-color: rgba(20, 20, 20, 0);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(20, 20, 20, 0.7);
        border-radius: 1px;
    }

    p {
        font-family: 'IBM Plex Mono';
        font-size: 35px;
    }

    .important {
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s all;
        text-shadow: 0rem 0rem rgb(102, 102, 102), 0rem 0rem rgb(173, 173, 173);

        &:hover {
            text-shadow: 0.2rem 0.2rem rgb(102, 102, 102), 0.4rem 0.4rem rgb(173, 173, 173);
        }
    }

}

a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

button:active {
    outline: none;
}

#center {
    width: 72%;
    height: 100%;
    background-color: $main-bg;
    margin-bottom: 14vw;
    border-radius: 0px 0px 3px 3px;
    animation: glow 3s infinite alternate;

    .title {
        font-size: 3.5vmax;
        font-family: 'Major Mono Display';
        font-weight: bold;
        text-align: left;
        padding-left: 5%;

        text-shadow: 0.05em 0.05em rgb(102, 102, 102), 0.1em 0.1em rgb(173, 173, 173);
    }

    #name {
        font-size: 4vmax;
        margin: 0;
    }

    #name-cont {
        display: flex;
        align-items: center;
        height: $title-size;
    }
}

#bio {
    margin-top: 20px;
    margin-bottom: 20px;

    #bio-content {
        height: $bio-size;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: $color-1;

        #photo {
            width: 40%;

            img {
                width: 100%;
                border: 2px $color-1 solid;
            }
        }

        #bio-text {
            padding-left: 20px;
            width: 90%;

            h3 {
                font-family: 'Recursive';
                font-size: 30px;
            }

            p {
                font-size: min(4vmin, 60px);

                a::after {
                    color: black;
                }
            }
        }
    }
}

#works {
    margin-top: 20px;
    margin-bottom: 20px;

    #works-content {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .project {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px rgb(180, 180, 180) solid;
            transition: 0.2s all;

            box-shadow: 0em 0em rgb(102, 102, 102), 0em 0em rgb(173, 173, 173);

            &:hover {
                box-shadow: 0.2em 0.2em rgb(102, 102, 102), 0.4em 0.4em rgb(173, 173, 173);
            }

            a {
                width: 13vw;
                height: 2.5vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: 0.2s all;
                font-family: 'Archivo BI';
                font-size: min(1vw, 30px);
                letter-spacing: 3px;
                
                background-color: black;
                color: white;

                img {
                    width: 3vmin;
                    transition: 0.2s all;
                    margin-left: 10px;
                }

                &:hover img {
                    transform: translateX(10px);
                }
            }
        }

        .proj-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 4vw;

            img {
                width: 4vw;
                height: 4vw;
            }

            p {
                margin-left: 2vw;
                font-size: 4vmin;
            }
        }

        .proj-desc {
            width: max(40vw, 500px);

            p {
                font-family: 'Archivo';
                width: 100%;
                font-size: 1.5vmin;
            }
        }
    }
}

#contact {
    margin-top: 20px;
    margin-bottom: 20px;

    #links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;

        a {
            border: 2px $color-1 solid;
            height: 2.5vw;
            width: 10vw;
            position: relative;
            cursor: pointer;
            border: 1px black solid;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                background-color: black;
                border: 1px black solid;
                transition: 0.2s all;

                transform: translate(-5px, -5px);

                &:hover {

                    p {
                        color: gray;
                    }
                }

                &:active {
                    transform: translate(-1px, -1px);
                }

                p {
                    color: white;
                    font-family: 'Archivo BI';
                    font-size: min(1vw, 30px);
                    letter-spacing: 3px;
                }
            }
        }
    }

    #other-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 150px;

        p {
            margin: 0;
            font-family: 'Archivo BI';
            font-size: min(0.85vw, 15px);
            letter-spacing: 3px;
        }

        a {
            margin: 0;
            font-family: 'Archivo BI';
            font-size: min(0.85vw, 15px);
            letter-spacing: 3px;
            cursor: pointer;
        }
    }
}

#proficiencies {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

    #profslist {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .prof-cont {
            margin: 30px;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            img {
                width: 40%;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: left;
                text-align: left;
                width: 40%;

                p {
                    font-size: min(2vw, 40px);
                    width: 100%;
                }
            }
        }
    }
}

#navbar {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 14vw;

    a {
        margin: 10px;
        height: 4vh;
        width: 15vh;
        border: 1px black solid;

        div {
            height: 100%;
            width: 100%;
            font-family: 'Archivo BI';
            font-size: min(1vw, 30px);
            letter-spacing: 3px;
            background: black;
            border: 1px black solid;
            transform: translate(-5px, -5px);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.2s all;

            &:hover {
                p {
                    color:gray;
                }
            }

            &:active {
                transform: translate(-1px, -1px);
            }
            
            p {
                color: white;
                font-family: 'Archivo BI';
                font-size: min(1vw, 30px);
                letter-spacing: 3px;
            }
        }
    }
}